/* style.css */
.row-highlight {
    background-color: rgba(245, 158, 11, 0.05) !important; /* amber-500 */
}

.col-highlight {
    background-color: rgba(245, 158, 11, 0.05) !important;
}

.row-selected {
    background-color: rgba(245, 158, 11, 0.1) !important;
}

.col-selected {
    background-color: rgba(245, 158, 11, 0.1) !important;
}

.cell-selected {
    background-color: rgba(245, 158, 11, 0.2) !important;
}
